* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

body {
    font-family: "Khula", sans-serif;
    color: #fffffe;
}

.btn {
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    color: #ff8906;
    border: 2px solid #ff8906;
    transition: 0.3s ease;
    cursor: pointer;
}

header {
    font-family: "Martel", serif;
    width: 100%;
    background-color: rgb(99, 8, 8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 5%;
}

.logo {
    font-size: 3rem;
    color: #ff8906;
    font-weight: 700;
    cursor: default;
}

nav a {
    font-size: 1rem;
    color: #fffffe;
    font-weight: 500;
    margin-left: 4rem;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

nav a:hover {
    color: #ff8906;
    border-bottom: 3px solid #ff8906;
}

main {
    background-color: #0f0e17;
    color: #fffffe; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inicio {    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
}

.inicio-content h1 {
    font-family: "Martel", serif;
    font-size: 3rem;
    font-weight: 700;
}

.inicio-content h3 {
    font-family: "Rufina", serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.inicio-content a {
    color: #fffffe; 
    font-weight: 700;
}

.inicio-img img {
    width: auto;
    height: 450px;
    border-radius: 50%;
    transition: 0.2s linear;
}

.social-media {
    margin-bottom: 10%;
}

#inicio .btn {
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    font-weight: 600;
}

.btn:hover {
    box-shadow: 0 0 25px #ff8906;
}

#sobremi {
    background-color: rgba(77, 18, 18, 0.349);
    text-align:center;
}

.contenedor {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

section {
    padding: 40px 6rem;
}

.contenedor section {
    border: 0.2pt solid #cedddd;
    border-radius: 10px; 
}

h2 {
    font-family: "Martel", serif;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.grid-container {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    
}

.grid-container img{
    width: 180%;  
}

.card{
    border: 0.2pt solid #cedddd;
    border-radius: 10px; 
    padding: 40px 6rem;
    cursor:default;
    transition:all 400ms ease;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    gap:10px;
}

.card:hover{
    transform:translateY(-3%)
}

form {
  display: flex;
  flex-direction: column;
  gap:10px;  
}

footer {
   background-color: black;
   display: flex;
   align-items: center;
   justify-content:center;
   padding: 1rem 5%;
}
